# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary / OS files
.DS_Store
Thumbs.db
*.txt

# Ignore specific output files we made during dev
cols_keys.json

# API keys (Though handled by Streamlit secrets or password input, this is just a safety measure)
*.key
*.pem
secrets.toml
